body { font-size: 14px; margin: 0px; padding: 0px; font-family:"Microsoft YaHei","ºÚÌå"; background-repeat:no-repeat; background-color:#dff1f3;}
a{ text-decoration:none;}
p,ul,li{ padding:0px; margin:0px;}
li{ list-style-type:none;}
img,img a{ border:none;}

.nav{ width:100%; margin:auto; background:url(/images/nav_bg.png) repeat-x;  height:27px; line-height:27px;}
.nav_box{ width:1000px; margin:auto; font-size:14px; }
.nav_left{ float:left;}
.nav_right{ float:right;}
.nav_right a{ color:#000000;}

.head{ width:100%; margin:auto;}

.top{ width:1000px; margin:auto; height:140px;}
.n_name{ width:970px; float:left; font-size:26px; color:#ffffff; padding-top:45px; padding-left:30px;}
.n_call{ width:970px; float:left; font-size:18px; color:#ffffff; padding-top:10px; padding-bottom:10px; padding-left:30px;}

.menu{ width:100%; margin:auto; height:40px; line-height:40px; font-size:16px; background:url(/images/20151216_dh.jpg) repeat-x;}
.menu_con{ width:1000px; margin:auto;}
.menu a{ color:#FFFFFF; display:block; float:left; padding:0 20px;}


.box{ width:1000px; margin:auto;}

.f_pic{ width:1000px; float:left; padding-top:5px;}

.txt{ width:1000px; float:left; padding-top:25px;}
.txt .title{ width:988px; padding-left:10px; float:left; font-size:18px;background:url(/images/20151216_line.jpg) repeat-x; height:28px; border:1px solid #9ac3d5; border-bottom:none; color:#000000;}

.txt .txt_con{ width:968px; float:left; border:1px solid #9ac3d5; border-top:none; background-color:#FFFFFF; padding:15px 15px 0px 15px;}
.txt .txt_con p{ text-indent:2em;  line-height:30px; font-size:16px; padding-bottom:25px;}

.txt .txt_con ul li{ float:left; width:322px; text-align:center; padding-bottom:15px;}
.txt .txt_con ul li a{ display:block; width:319px; float:left; line-height:35px;color: #000;font-size: 16px; text-decoration:none;}

.article_1225{ width:1000px; margin:auto; background-color:#f5f5f5; overflow:hidden;}
.article_1225 .title_1225{ width:1000px; float:left; height:35px; line-height:35px;}
.article_1225 .title_1225 span{ display:block; float:left; font-size:16px; padding-left:20px;}
.article_1225 .title_1225  a{ display:block; float:right; padding-right:15px; padding-top:5px;}
.article_1225 .con_1225{ width:998px; padding:20px 10px; float:left; font-size:16px; line-height:30px; background-color:#FFFFFF;}
.article_1225 .con_1225 p{ text-indent:2em;}

.div1{z-index:100; position: fixed; top: 10%; left: 5%; background:white; width:1000px; height:600px; margin:-50px 0 0 -50px; display: none; border:solid 5px #6e8bde; overflow-y :auto}
.div2{z-index:100; position: fixed; top: 10%; left: 5%; background:white; width:1020px; height:600px; margin:-50px 0 0 -50px; display: none; border:solid 5px #6e8bde; overflow-y :auto}
